
/* COMIENZO ESTILO PÁGINA DE INICIO */

/* Estilo card */
.card1{

.card-body1{
    border: 2px solid $colorCua;
    border-top: none;
    padding: 20px;
    
.card-text{
    text-align: justify;

        }
    }
}


/* Fin estilo card */

/* FIN ESTILO PÁGINA DE INICIO */